# User to send full url in response.
base_url = "http://localhost:8085"
# Length of the short url.
url_length = 8

[server]
address = ":8085"
read_timeout=5000
write_timeout=5000
keepalive_timeout=300000
max_body_size=5120000

[cache]
address = "localhost:6379"
password = ""
max_active = 500
max_idle = 100
timeout = 6000
